/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }

  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  
  
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  .marketing img {
    width: 140px;
    height: 140px;
  }
 
  
  .featurette-divider {
    margin: 5rem 0; 
  }
  .featurette-heading{
    top:100px;
  }
  .contact img  {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  .contact h4 {
    display: inline;
  }
  .contact2 img  {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  .contact2 h4 {
    display: inline;
  }
  .contact3 img  {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  .contact3 h4 {
    display: inline;
  }
  .contact4 img  {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  .contact4 h4 {
    display: inline;
  }
  .liste{
    display: flex;
  }
  .liste li {
    list-style: none;
    padding-left: 20px;
  }
  
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  
  
  
  
  @media (min-width: 40em) {
    
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

.col-md-5 img {
  width: 500px;
  height: 500px;
}
.monimage img {
  width: 450px;
  height: 720px;
}
.maphoto img {
  width: 450px;
  height: 720px;
}
